<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <display-name>Archetype Created Web Application</display-name>

<error-page>
    <location>/WEB-INF/error.jsp</location>
</error-page>

    <error-page>
        <!-- Missing resource -->
        <error-code>404</error-code>
        <location>/WEB-INF/404.jsp</location>
    </error-page>


    <env-entry>
        <env-entry-name>mailhost</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>localhost</env-entry-value>
    </env-entry>
    <env-entry>
        <env-entry-name>mailusername</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>serviziosanitario@cocchiara.it</env-entry-value>
    </env-entry>
    <env-entry>
        <env-entry-name>mailuserpassword</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>passwordunoduetre</env-entry-value>
    </env-entry>



    <env-entry>
        <env-entry-name>dbstring</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>jdbc:postgresql://localhost:5433/webprog</env-entry-value>
    </env-entry>
    <env-entry>
        <env-entry-name>dbuser</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>postgres</env-entry-value>
    </env-entry>
    <env-entry>
        <env-entry-name>dbpass</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>qwerty123</env-entry-value>
    </env-entry>
    <env-entry>
        <env-entry-name>pathimgpazienti</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>C:\Users\burge\Desktop\Universita\Web\ProgettoWeb2019\Database\imgpazienti\</env-entry-value>
    </env-entry>
    <servlet>
        <servlet-name>StartSetup</servlet-name>
        <servlet-class>unitn.progweb.cocchiara.servlet.StartSetup</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>StartSetup</servlet-name>
        <url-pattern>/WEB-INF/startsetup</url-pattern>
    </servlet-mapping>

    <filter-mapping>
        <filter-name>loginFilter</filter-name>
        <url-pattern>/welcome</url-pattern>
        <url-pattern>/avatar</url-pattern>
        <url-pattern>/servizi</url-pattern>
        <url-pattern>/sispaz/*</url-pattern>
        <url-pattern>/sissan/*</url-pattern>
        <url-pattern>/sismed/*</url-pattern>
        <url-pattern>/login</url-pattern>

    </filter-mapping>
    <filter-mapping>
        <filter-name>adminFilter</filter-name>
        <url-pattern>/sissan/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>medicoFilter</filter-name>
        <url-pattern>/sismed/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>SelectedPazienteFilter</filter-name>
        <url-pattern>/sismed/paziente/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>SelectedProvinciaPazienteFilter</filter-name>
        <url-pattern>/sissan/paziente/*</url-pattern>
    </filter-mapping>
</web-app>
